<!doctype html>
<html ng-app="playlist2spotify">
  <head>
    <meta charset="utf-8">
    <title>playlist2spotify</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container" ng-controller="MainController as main">
      <div class="row">
        <div class="large-12 large-text columns">
          <div class="panel">
            <h1>playlist2spotify</h1>
            <label>Paste your playlist:
              <textarea placeholder="Eagles - Journey of the Sorcerer" ng-model="main.trackList" ng-model-options="{ debounce: 200, getterSetter: true }"></textarea>
            </label>
          </div>
        </div>
      </div>

      <div class="row" ng-show="main.urls.length > 0">
        <div class="large-12 large-text columns">
          <div class="panel">
            <label>Copy and paste this into a playlist in the Spotify desktop app:
              <input readonly ng-model="main.urls" />
            </label>
          </div>
        </div>
      </div>
    </div>
    

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
